<main>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Cập nhật hồ sơ</div>
                    <div class="card-body">
                        <form method="POST" action="/users/{{user._id}}?_method=PUT">
                            <div class="text-center">
                                <!-- Profile picture image-->
                                <img id="myimage" class="img-account-profile rounded-circle mb-2" src="{{user.image}}"
                                    style="height: 10rem;" alt="">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">Ảnh JPG không quá 2MB</div>
                                <!-- Profile picture upload button-->
                                <input type="file" name="avatar" id="file" style="display:none;" onchange="onFileSelected(event)" multiple />
                                <button type="button" class="btn btn-primary" id="button"
                                    onclick="thisFileUpload();">Tải ảnh lên</button>
                            </div>
                            <!-- Form Group (name)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputUsername">Họ và tên</label>
                                <input class="form-control" name="name" value="{{user.name}}" id="inputUsername" type="text">
                            </div>
                            <!-- Form Row        -->
                            <div class="form-row">
                                <!-- Form Group (Birthday)-->
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                                    <input class="form-control" name="birthday" value="{{user.birthday}}" id="inputBirthday" type="text">
                                </div>
                                <!-- Form Group (Gender)-->
                                <div class="form-group col-md-6">
                                    <label  class="small mb-1" for="inputGender">Giới tính</label>
                                    <select id="inputGender" name="gender" class="form-control">
                                        <option selected>Nam</option>
                                        <option>Nữ</option>
                                        <option>Khác</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" name="email" value="{{user.email}}" id="inputEmailAddress" type="email">
                            </div>
                            <!-- Form Group (Hobby)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputHobby">Sở thích</label>
                                <input class="form-control" name="hobby" value="{{user.hobby}}" id="inputHobby" type="text">
                            </div>
                            <!-- Form Group (Description)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputDescription">Giới thiệu</label>
                                <textarea class="form-control" name="description" id="inputDescription">{{user.description}}</textarea>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Lưu lại</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function thisFileUpload() {
        document.getElementById("file").click();
    };
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("myimage");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>